<!DOCTYPE html>
<html class="update-wait-time-page">
<head>

  <title>Restaurant Directory</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:light|Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

  {{>navbar}}
  <div class="about-content">
    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        <h3 style="text-align: center; margin-top:1.5em;margin-bottom:1.5em" class="white-text">{{Title}}</h3>
        <div class="card about-card" style="margin-bottom: 2em; padding-top: 2em">
          <div class="directoryRestaurants">
            <div id="page-display">Displaying results {{begin}} to {{end}} out of {{total}}</div>
            <table class="bordered highlight responsive-table">
              <tbody>
              {{#each users}}
                  <tr>
                    <td><a href="/users/{{ id }}"><img src={{profilePicture}}></a></td>
                    <td><a style="display: block; font-size: 1.5em; padding-left: 10px; padding-right: 10px;" href="/users/{{ id }}">{{restaurantName}}</a>
                      <div style="padding-left: 10px; padding-right: 10px;">{{displayAddress}}</div></td>
                    <td><div style="font-size: 1.25em; white-space: nowrap;">{{waitTime}}</div><div class="grey-text">Updated {{timeSinceUpdate}}</div></td>
                  </tr>
              {{/each}}
              </tbody>
            </table>
            <div id="pagination-short"></div>
            <div id="page-display">Displaying results {{begin}} to {{end}} out of {{total}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>searchModal}}
  {{>signupModal}}
  {{>loginModal}}
  {{>footer}}
  
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize-pagination.min.js"></script>

</html>