<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Directory</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {{>navbar}}
<div class="topcontent">
  <h4 style="text-align: center">Restaurant Directory</h4>
</div>
<div class="content">
  <div class="directoryRestaurants">
      <table>
        <thead>
          <tr>
              <th></th>
              <th data-field="profilepic">Photo</th>
              <th data-field="restaurantname">Restaurant Name</th>
              <th data-field="waittime">Current Wait Time (minutes)</th>
              <th data-field="timeSinceUpdate">Last Updated</th>
          </tr>
        </thead>
        {{#each users}}
          <tbody>
            <tr>
              <td></td>
              <td class = "col s3 m3 l2"><a href="/users/{{ id }}"><img src={{profilePicture}}></a></td>
              <td class="col s3 m3 l2"><a href="/users/{{ id }}">{{restaurantName}}</a></td>
              <td class="col s3 m3 l2">{{waitTime}}</td>
              <td class="col s3 m3 l2">{{timeSinceUpdate}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    </div>
</div>
<div id="pagination-short"></div>
<div id="page-display">Displaying results {{begin}} to {{end}} out of {{total}}</div>
<div id="bottom">
 <!--  <div id="pagination-long"></div> -->

  <!-- <ul id="pagination" class="pagination">
    <li class="disabled"><a class="left-slider-directory"><i class="material-icons">chevron_left</i></a></li>
    <li class="active number-page active-page" id="page-1"><a class="number-page-inner">1</a></li>
    <li class="waves-effect number-page" id="page-2"><a class="number-page-inner">2</a></li>
    <li class="waves-effect number-page" id="page-3"><a class="number-page-inner">3</a></li>
    <li class="waves-effect number-page" id="page-4"><a class="number-page-inner">4</a></li>
    <li class="waves-effect number-page" id="page-5"><a class="number-page-inner">5</a></li>
    <li class="waves-effect"><a class="right-slider-directory"><i class="material-icons">chevron_right</i></a></li>
  </ul> -->
</div>
{{>searchModal}}
{{>signupModal}}
{{>loginModal}}
<div class="footer-line">
  <hr>
</div>
{{>footer}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize-pagination.min.js"></script>
</html>
