<!DOCTYPE html>
<html class="directory-page">
<head>

  <title>Restaurant Directory</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:light|Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

  {{>navbar}}
  <div class="about-content hide-on-small-only">
    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        <h3 style="text-align: center; margin-top:1.5em; margin-bottom:0.5em" class="white-text">{{Title}}</h3>
        <h5 class="white-text">Find Restaurants Sorted By Wait Time</h5>
        <div class="card about-card" style="margin-bottom: 2em; padding-top: 2em">
          <div class="directoryRestaurants">
            <div id="page-display">Displaying results {{begin}} to {{end}} out of {{total}}</div>
            <table class="bordered highlight">
              <tbody>
              {{#each users}}
                  <tr>
                    <td><a href="/users/{{ id }}"><div class="pp"><img src={{profilePicture}}></div></a></td>
                    <td><a style="display: block; font-size: 1.5em; padding-left: 10px; padding-right: 10px;" href="/users/{{ id }}">{{restaurantName}}</a>
                      <div style="padding-left: 10px; padding-right: 10px;">{{displayAddress}}</div></td>
                    <td><div style="font-size: 1.25em; white-space: nowrap;">{{waitTime}}</div><div class="grey-text">Updated {{timeSinceUpdate}}</div></td>
                  </tr>
              {{/each}}
              </tbody>
            </table>
            <div id="pagination-short"></div>
            <div id="page-display">Displaying results {{begin}} to {{end}} out of {{total}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Mobile Version -->
  <div class="about-content hide-on-med-and-up">
    <div class="row">
      <div>
        <h3 style="text-align: center; margin-top:1.5em;margin-bottom:0.5em" class="white-text">{{Title}}</h3>
        <h5 class="white-text">Find Restaurants Sorted By Wait Time</h5>
        <div class="card about-card" style="margin-bottom: 2em; padding-top: 2em">
          <div class="directoryRestaurants">
            <div id="page-display">Top Results</div>
            <table class="bordered highlight">
              <tbody>
              {{#each users}}
                  <tr>
                    <td class="col s12"><a href="/users/{{ id }}"><img class="pp" style="margin-top:2em; width: auto;" src={{profilePicture}}></a></td>
                    <td class="col s12"><a style="display: block; font-size: 1.5em; padding-left: 10px; padding-right: 10px; margin-left:-10px" href="/users/{{ id }}">{{restaurantName}}</a>
                      <div style="padding-left: 10px; padding-right: 10px; margin-left:-10px">{{displayAddress}}</div></td>
                    <td class="col s12"><div style="font-size: 1.25em; white-space: nowrap;">{{waitTime}}</div><div class="grey-text" style="padding-bottom:2em">Updated {{timeSinceUpdate}}</div></td>
                  </tr>
              {{/each}}
              </tbody>
            </table>
            <div id="pagination-short"></div>
            <div id="page-display" style="margin-top:2em; padding-bottom:2em">Top Results</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>searchModal}}
  {{>signupModal}}
  {{>loginModal}}
  {{>footer}}
  
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize-pagination.min.js"></script>

</html>