<!DOCTYPE html>
<html>

<head>

  <title>{{header}}</title>

  <meta charset="utf-8"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:light|Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

  {{>navbar}}

  <div class="topcontent">
    <div class="row">
      <div class="col s12 m12 l4 offset-l4">
        <div class="card profile-card">
          <div class="card-image" style="margin:auto; height:auto;width:auto;max-width:50%;max-height:50%;">
            <img src={{photo}}>
          </div>
          <div class="card-stacked">
            <div class="card-content center-align">
              <span id="restaurant-name" class="card-title" style="font-size:28px">{{restaurantName}}</span>
              <p><b>Current Wait Time:</b> {{waitTime}}</p>
              <p><b>Last Updated:</b> {{timeSinceUpdate}}</p>
              <p>{{restaurantDescription}}</p>
              <p>{{address}}</p>
              {{#if currentUser}}
                <a class="white-text black waves-effect waves-light btn button profile-button" href="#edit-profile">Edit Profile</a>
                <a class="white-text black waves-effect waves-light btn button edit-desc-button" href="#pictureModal">Update Profile Picture</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="time-line">

  <div style="margin: auto;" class="chart-pages">
    <ul class="pagination">
      <li class="disabled"><a class="left-slider"><i class="material-icons">chevron_left</i></a></li>
      <li class="dayPage" id="Sun"><a class="dayPageInner">Sun</a></li>
      <li class="waves-effect dayPage" id="Mon"><a class="dayPageInner">Mon</a></li>
      <li class="waves-effect dayPage" id="Tue"><a class="dayPageInner">Tue</a></li>
      <li class="waves-effect dayPage" id="Wed"><a class="dayPageInner">Wed</a></li>
      <li class="waves-effect dayPage" id="Thu"><a class="dayPageInner">Thu</a></li>
      <li class="waves-effect dayPage" id="Fri"><a class="dayPageInner">Fri</a></li>
      <li class="waves-effect dayPage" id="Sat"><a class="dayPageInner">Sat</a></li>
      <li class="waves-effect"><a class="right-slider"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>

  <h5 class="center-align">Average Wait Times Last Week (in Minutes)</h5>

  <div class="bar-graph">
    <canvas id="myChart"></canvas>
  </div>

  {{#if hasAddress}}

    <hr class="time-line">
    
    <h3 class="center-align" style="padding-bottom: 0.5em;">Directions</h3>

    <div class="row">
      <div id="map" class="{{userID}}"></div>
    </div>

    <div class="input-field" style="width: 75%; margin: auto">
      <input id="start" type="text" class="validate" required="" aria-required="true" name="start">
      <label class="active" for="directions">Start Address</label>
    </div>
    <div class="input-field" style="width: 75%; margin: auto">
      <input value="{{address}}" id="end" type="text" class="validate" required="" aria-required="true" name="end">
      <label class="active" for="directions">End Address</label>
    </div>
    <div href='#' class="transport" style="width: 75%; margin: auto">
      <select>
        <option disabled selected>Method of transport</option>
        <option value="DRIVING" selected="selected">Driving</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
        <option value="WALKING">Walking</option>
      </select>
    </div>
    <button id="get-directions" class="black white-text waves-effect waves-light btn" style="width: 200px; margin: auto; margin-bottom: 6em;">Submit</button>
    
    <div class="row">
      <div id="directionsPanel" style="width:75%; margin: auto; margin-bottom: 1em;"></div>
    </div>

  {{/if}}

  <div>
    <hr>
  </div>
  
  {{>directions}}
  {{>editProfile}}
  {{>pictureModal}}
  {{>searchModal}}
  {{>descriptionModal}}
  {{>signupModal}}
  {{>loginModal}}
  {{>footer}}

</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNPPL_AbAiroqy7TIcU0wgFSqIZy_6OXM"
   defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script type"text/javascript" src="/javascripts/map.js"></script>
<script type"text/javascript" src="/javascripts/address.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</html>